* {
  font-family: "Roboto";
}

body {
  height: 100vh;
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

#header {
  background-color: white;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.15);
}

#search {
  background-color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2rem;
  gap: 50px;
}

#search svg {
  height: 2rem;
  width: 2rem;
  fill: black;
}

#leftSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#leftSearch > * {
  flex-grow: 1;
}

input {
  height: 2rem;
  border-radius: 4rem;
  border: none;
  background-color: #e5e7eb;
}

#rightSearch {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 25px;
  font-weight: 600;
  font-size: 1.1rem;
}

svg#profilePic {
  height: 3rem;
  width: 3rem;
}

#profile {
  display: flex;
  justify-content: space-between;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}

#profile > * {
  flex-grow: 1;
}

#leftProfile {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 25px;
}

div.greeting {
  display: grid;
  gap: 5px;
}

#hi {
  font-size: 0.8rem;
  font-weight: 600;
}

#name {
  font-size: 1.8rem;
  font-weight: 600;
}

#rightProfile {
  display: grid;
  grid-template-columns: minmax(80px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr);
  gap: 20px;
  grid-template-rows: 50px;
  align-content: center;
  margin-right: 2rem;
}

button.blue {
  background-color: #0ea5e9;
  border: none;
  border-radius: 4rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

#sidebar {
  background-color: #0ea5e9;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 50px;
  padding: 1.5rem;
}

.pages,
#dashboard {
  display: flex;
  gap: 10px;
}

svg {
  height: 3rem;
  fill: white;
  max-width: 3rem;
}

.pages {
  font-size: 1.3rem;
}

#dashboard {
  font-size: 1.8rem;
}

.icons {
  display: grid;
  gap: 20px;
}

.iconText {
  align-content: center;
}

div.pages svg {
  height: 2rem;
}

#main {
  background-color: #e2e8f0;
  position: relative;
  z-index: -1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#cards {
  grid-row: 1/-1;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1.5rem;
  gap: 10px;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 8px solid #facc15;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.15);
}

div.cardInfo h1 {
  font-size: 1rem;
}

div.cardInfo p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.63);
  font-weight: 500;
}

.cardIcons {
  align-self: end;
}

.card svg {
  height: 1.5rem;
  fill: black;
}

#announcements {
  background-color: yellow;
}

#trending {
  background-color: green;
}
