* {
  font-family: "Roboto";
}

body {
  height: 100vh;
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

#header {
  background-color: white;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#search {
  background-color: gray;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2rem;
  gap: 50px;
}

#leftSearch {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 0px;
}

input {
}

#rightSearch {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#profile {
  background-color: green;
}

#sidebar {
  background-color: #0ea5e9;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 50px;
  padding: 1.5rem;
}

.pages,
#dashboard {
  display: flex;
  gap: 10px;
}

svg {
  height: 3rem;
  fill: white;
  max-width: 3rem;
}

.pages {
  font-size: 1.3rem;
}

#dashboard {
  font-size: 1.8rem;
}

.icons {
  display: grid;
  gap: 20px;
}

.iconText {
  align-content: center;
}

div.pages svg {
  height: 2rem;
}
